
     body {
          font-family: Helvetica;
     }

     p{
          font-weight: bold;
          text-align: left;
          font-size: 12px;
     }

     svg {
          width: 900px;
          height: 900px;
     }
     .play-button {
          margin-left: 10px;
          margin-bottom: 15px;
          font-style: italic;
          cursor: pointer;
          color: #D0BED0;
     }
     .play-button:hover {
          color: #D0BED0;
     }
     .buttons-container {
          width: 520px;
          margin-bottom: 25px;
     }
     .button {
          float: left;
          margin-left: 10px;
          font-weight: lighter;
          cursor: pointer;
     }
     .selected {
          font-weight: bold;
     }
     .top-label {
          font-size: 12px;
          font-style: bold;
          text-transform: uppercase;
          float: left;
          color: #D0BED0;
     }

    .top-label-two {
          font-size: 13px;
          font-style: bold;
          text-transform: uppercase;
          float: left;
          color: #D0BED0;
     }

     .age-label {
          text-align: right;
          font-weight: bold;
          width: 90px;
          padding-right: 40px;
     }
     .clearfix {
          clear: both;
     }

     .bar {
          fill: #000;
     }

     .bar-two{
          fill: #000;
     }

     .bar-label {
          text-anchor: end;
     }
     .axis-label {
          text-anchor: middle;
          font-size: 13px;
     }

     .x.axis line {
       fill: none;
       stroke: #73383D;
       margin-top: 100px;
     }
    
     .axis path {
          display:none;
     }
     .y.axis line {
          display:none;
     }
